.admin-management-container {
    padding: 1rem;
    color: white;
    background-color: black;
    opacity: 0.9;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.date-picker label {
    font-weight: bold;
}

.date-picker input[type="submit"], .date-picker input[type="text"] {
    padding: 0.3rem;
    border: none;
    border-radius: 2px;
}

.date-picker input[type="submit"] {
    background-color: #1d8ac2;
    color: white;
    cursor: pointer;
}

.date-picker input[type="submit"]:hover {
    opacity: 0.8;
    transition: all 0.4s;
}

.booking-title, .empty-message {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
}

.empty-message {
    flex-grow: 1;
}

.booking-list {
    overflow: auto;
}

.booking-list table {
    width: 100%;
    color: white;
    border-collapse: collapse;
    border-spacing: 0;
}

.booking-list th, td {
    text-align: left;
    padding: 0.8rem;
    white-space: nowrap;
}

.table-empty-message {
    padding-bottom: 1%;
    text-align: center;    
}

.add-button {
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    background-color: rgb(38, 241, 38);
}

.add-button:hover {
    opacity: 0.8;
    transition: all 0.4s;
}

.day-profit span {
    color: rgb(38, 241, 38);
}

.add-and-profit-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table-action a {
    text-decoration: none;
    color: white;
}

.table-action a:hover {
    opacity: 0.7;
    transition: all 0.4s;
}

.table-action a:not(:last-child) {
    margin-right: 0.5rem;
}

.add-booking-form, #addNew, #addOld {
    display: none;
}