/* Styles for login success popup message */
.login-success {
    background-color: #d4edda;
    color: #155724;
    border-color: #c3e6cb;
    width: 20rem;
    display: flex;
    border-radius: 4px;
    padding: 0rem 0.7rem;
    font-size: 1.1rem;
    font-weight: 400;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0.6rem;
    right: 0.6rem;
}

.login-success span {
    cursor: pointer;
}

.login-success span:hover {
    opacity: 0.8;
}

/* Styles for user information and booking history */
.user-info {
    height: 28rem;
    background-color: #d3e3d26e;
    border-radius: 8px;
    color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 3rem;
}

.user-info-title, .booking-history-title {
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
}

.user-info label {
    font-weight: 500;
}

.user-info input {
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid black;
    color: black;
    height: 1.7rem;
}

.booking-history {
    margin-top: 2rem;
    height: 22rem;
    background-color: #d3e3d26e;
    border-radius: 8px;
    color: black;
    padding: 2rem;
}

.booking-history-list {
    margin-top: 1.5rem;
    overflow-y: scroll;
    overflow-x: auto;
}

.booking-history-list table {
    width: 100%;
    color: black;
    border-collapse: collapse;
    border-spacing: 0;
}

.booking-history-list th, td {
    text-align: left;
    padding: 0.8rem;
    white-space: nowrap;
}

.booking-history-list th {
    font-size: 1.1rem;
}

/* Styles for time grounds status table */
.time-grounds-status {
    margin-top: 2rem;
    padding: 1rem;
    color: black;
    background-color: #d3e3d26e;
    border-radius: 8px;
    height: 30rem;
}

.time-grounds-status-title {
    padding: 1rem 0;
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
}

.time-grounds-schedule {
    overflow-x: auto;
}

.is-using-ground {
    color: rgb(42, 190, 55);
}

.is-booking-time {
    color: #1d8ac2;
}

.time-grounds-schedule td, .time-grounds-schedule th {
    text-align: left;
    padding: 0.8rem 7rem 0.8rem 0.8rem;
    white-space: nowrap;
}

.time-grounds-schedule td {
    font-weight: 450;
}

.time-grounds-schedule th {
    font-size: 1.1rem;
}

/* Styles for date picker */
.date-picker label {
    font-weight: 500;
}

.date-picker input[type="submit"], .date-picker input[type="text"] {
    padding: 0.3rem;
    border: none;
    border-radius: 2px;
}

.date-picker input[type="submit"] {
    background-color: #1d8ac2;
    color: white;
    cursor: pointer;
}

.date-picker input[type="submit"]:hover {
    opacity: 0.8;
    transition: all 0.4s;
}




/*----- Responsive settings -----*/

/* Small phone responsive */
@media (max-width: 600px) {

}

/* Portrait tablet/large phone responsive */
@media (min-width: 600px) {
	
}

/* Landscape tablet/large phone responsive */
@media (min-width: 1024px) { 
	
}

/* Desktop/laptop responsive */
@media (min-width: 1200px) {
	
}