.register-background {
  background: url("./Images/register-background.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.register-container {
  padding: 4rem 1.5rem;
  position: absolute;
  color: white;
  background-color: black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  width: 20rem;
  height: 31rem;
  border-radius: 5px;
}

.register-container img {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: absolute;
  top: -3rem;
  left: calc(50% - 3rem);
}

.register-container h1 {
  margin: 0;
  padding: 0 0 2rem;
  pointer-events: none;
  text-align: center;
  font-size: 1.5rem;
}

.register-container p {
  pointer-events: none;
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.register-container input {
  width: 100%;
  margin-bottom: 1.2rem;
}

.register-container input[type="text"],
.register-container input[type="password"],
.register-container input[type="email"], 
.register-container input[type="tel"] {
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid white;
  color: white;
  height: 1.7rem;
}

.register-container input[type="submit"] {
  border: none;
  outline: none;
  background-color: #b7bfcf;
  color: white;
  height: 2.5rem;
  font-size: 1rem;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
}

.register-container input[type="submit"]:hover {
  background-color: #3f2876;
  transition: all 0.3s ease;
}

.register-container a {
  text-decoration: none;
  line-height: 2rem;
  color: darkgrey;
}

.register-container a:hover {
  color: #3f2876;
  transition: all 0.3s ease;
}

.register-username-input::placeholder,
.register-email-input::placeholder,
.register-phone-input::placeholder {
  color: black;
}