.user-management-container {
    padding: 1rem;
    color: white;
    background-color: black;
    opacity: 0.9;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.user-management-title {
    text-align: center;
    font-size: 1.3rem;
    padding: 1rem 0;
    font-weight: bold;
}

.users-list {
    overflow-y: scroll;
    height: 17rem;
    overflow-x: auto;
}

.users-list table {
    width: 100%;
    color: white;
    border-collapse: collapse;
    border-spacing: 0;
}

.users-list th, td {
    text-align: left;
    padding: 0.8rem;
    white-space: nowrap;
}

.users-list th {
    font-size: 1.1rem;
}

.management-controller {
    padding: 0.5rem;
}

.controller-button {
    text-decoration: none;
    color: white;
}

.controller-button:hover {
    opacity: 0.7;
    transition: all 0.4s;
}

.controller-button:not(:last-child) {
    margin-right: 1rem;
}

.add-user-form, .edit-user-form, .delete-user-form {
    display: none;
}

.new-submit, .edit-submit, .delete-submit {
    background-color: #dc3545;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.new-submit {
    background-color: #20b8b0;
}

.edit-submit {
    background-color: rgb(115, 39, 214);
}

.delete-submit {
    background-color: #dc3545;
}

.new-submit:hover, .edit-submit:hover, .delete-submit:hover {
    opacity: 0.85;
    transition: all 0.4s;
}

.user-management-error, .user-management-success {
    background-color: #f8d7da;
    color: #721c24;
    border-color: #f5c6cb;
    width: 20rem;
    display: flex;
    border-radius: 4px;
    padding: 0rem 0.7rem;
    font-size: 1.1rem;
    font-weight: 400;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0.6rem;
    right: 0.6rem;
}

.user-management-success {
    background-color: #d4edda;
    color: #155724;
    border-color: #c3e6cb;
}

.user-management-error span, .user-management-success span {
    cursor: pointer;
}

.user-management-error span:hover, .user-management-success span:hover {
    opacity: 0.7;
}